.bg-blue {
  background-color: #3079ab;
  color: white;
}
.bg-grey {
  background-color: #f0f0f0;
  color: black;
}

.bg-white {
  height: 20vh;
}
.bold {
  font-weight: 600;
}

.top-col {
  font-family: "Arial";
  color: #b0b0b0;
  font-weight: 100;
}

.card-blue {
  background: #3079ab;
  padding: 30px;
  margin: 20px 50px;
}

.card-white {
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 75≈px;
}

.middle-col {
  font-family: "Arial";
  color: white;
  font-weight: 100;
}

.middle-text-1 {
  padding: 5px 25px 0px 25px;
}

.middle-text-2 {
  padding: 5px 25px 0px 25px;
}
.middle-title {
  padding: 0px 0px 15px 0px;
}

.bottom-col {
  font-family: "Arial";
  color: black;
  padding: 2rem 0;
}

/* div {
  outline: solid black;
} */
